@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

.btn {
  text-transform: none;
}

.truncate-3-lines {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.custom-active {
  color: #195BA5;
  font-weight: bolder;
  text-decoration: none;
  pointer-events: none;
}

.custom-active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2.5px;
  /* Adjust the offset value as needed */
  width: 100%;
  height: 5px;
  /* Adjust the underline thickness as needed */
  background-color: #195BA5;
}

.page-background {
  background-color: #FFFDFD;
}

div {
  color: CFCFCF;
}

.scale-85 {
  transform: scale(0.85);
}

@media (min-width: 768px) {
  .scale-md-100 {
    transform: scale(1);
  }
}