@tailwind base;
@tailwind components;
@tailwind utilities;

/* Styling for MessageItem.tsx */
.message-item {
  display: flex;
  align-items: center;
}

.message-item p {
  max-width: 500px;
  margin-bottom: 12px;
  line-height: 24px;
  padding: 6px 12px;
  border-radius: 25px;
  position: relative;
  color: white;
  text-align: center;
}

.sent {
  flex-direction: row-reverse;
}

.sent p {
  color: white;
  background: #0b93f6;
  align-self: flex-end;
}

.received p {
  background: #e5e5ea;
  color: black;
}

.message-item img {
  width: 2rem;
  height: auto;
  border-radius: 50%;
  margin: 2px 5px;
}